@font-face {
    font-family: 'norsebold';
    src: url('./fonts/norse-bold-webfont.woff2') format('woff2'),
         url('./fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }

body {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.container-a {
    background-color: #faedcd;
    background-image: url(./data/amein-shareef77-ditaDArCSr8-unsplash.jpg);
    background-size: cover;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    color: black;
}

.logo-box {
    height: 200px;
    width: 100%;
    background-color: black;
    opacity: .50;
    margin-top: 25px;
    font-size: 128px;
    
}

.logo {
    display: flex;
    align-items: center;
    opacity: 1;
    color: white;
    font-family: 'norsebold';
    
}

.container-b {
    font-family: "Roboto", sans-serif;
    background-color: #F4F9E9;
    width: 75%;   
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #153243;
    
}
.form-header {
    margin: 20px;
}

.lets-do-this {
    margin-left: 20px;
    margin-top: 20px;
}

.master-content {
    width: 100%;
    background-color: #EEF0EB;
    

}

.content {
    max-width: 500px;
    background-color: #EEF0EB;
    margin-bottom: 10px;
}

.content form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

form .user-details .input-box {
    margin-top: 15px;
    margin-bottom: 15px;
    width: calc(100 /2 - 20px);
}

form .input-box span.details {
    display: block;
}

.create-account {
    
    height: 300px;
    max-width: 100vw;
    flex-grow: 1;
    background-color: #F4F9E9;
    
}

.form-shadow {
    background-color: #F4F9E9;
    height: 20px;
    max-width: 100vw;
    box-shadow: inset 0px 6px 10px -7px black;
}

button[type=submit] {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 30px;
    background-color: #415a77;
    color: white;
    border-radius: 10px;
    border: white;
    box-shadow: 0px 6px 10px -7px black;
}
input {
    border: 1px solid #E5E7EB;
    border-radius: 5px;
}

input:focus:invalid {
    border: 1px solid red;
}

input:focus:valid {
    border: 1px solid green
}
  
.log-in {
    margin: 20px;
}

.logo img {
    height: 150px;
    margin: 20px;
    
}
